.comment_box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.comment_text {
    padding: 10px;
    background-color: #f5f5f5;
}

.post_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: cadetblue;
}

.post_caption {
    font-size: 15px;
    font-weight:400;
    margin-bottom: 10px;
    color: darkcyan;
}

.edit_icon {
    color:rgb(106, 103, 103);
    cursor: pointer;
}

.delete_icon {
    color: rgb(106, 103, 103);
    cursor: pointer;
}

.comment_class {
    width: 400px;
    align-items: center;
    flex-direction: row;
    margin: 0 auto; /* Set margin to auto to center horizontally */
    margin-top: 10px;
    transform: translateY(-50%); /* Adjust position to center vertically */
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  